.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

android/.gradle/
android/local.properties

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

*.iml
.idea/
.vscode/

# .NET backend
BookingApi/bin/
BookingApi/obj/
BookingApi/App_Data/
BookingApi/*.log
